;;^{:on-jsload "matr-gui-clj.core/on-js-reload"
  ;; :open-urls will pop open your application
  ;; in the default browser once Figwheel has
  ;; started and compiled your application.
  ;; Comment this out once it no longer serves you.
;;  :open-urls ["http://localhost:3449/index.html"]}
{:main matr-gui-clj.core
 :asset-path "js/compiled/out"
 :output-to "resources/public/js/compiled/matr_gui_clj.js"
 :output-dir "resources/public/js/compiled/out"
 :source-map-timestamp true
 ;; To console.log CLJS data-structures make sure you enable devtools in Chrome
 ;; https://github.com/binaryage/cljs-devtools
 :preloads [devtools.preload]}
